<%= t("title.edit.html") %>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t("button.navigation.detail"), @book %>
  <%= link_to t("button.navigation.index"), books_path %>
</nav>
